
<%= simple_form_for(@player) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
  <div class="input-con">
    <div class="form-inputs">
      <% if controller.action_name == "create" || controller.action_name == "new"  %>
        <h2 class="text-center">Create Player</h2>
        <% elsif controller.action_name == "edit" %>
        <h2 class="text-center">Update Player</h2>
      <% end %>
      <%= f.input :name %>
      <%= f.input :moto %>
      <%= f.input :rank, collection: ['OP','S','A','B','C','D','UNRANKED'],include_blank: false %>
      <%= f.input :description %>
      <%#= f.input :rate %>
      <%#= f.association :stat %>
      <%= f.input :photo, as: :file %>
      <%#= collection_select(:stat, :name, Stat.all, :id, :name, {}, { :multiple => true } )%>
      <%#= f.association :stat, label_method: :name, include_hidden: false%>

    <div class="form-actions align-items-center justify-content-center d-flex flex-wrap">
      <%= f.button :submit,"Save", class: "btn btn-main" %>
      <%= link_to 'Back', players_path, class: "btn btn-main" %>
    </div>
    </div>
  <% end %>
</div>
